<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Car</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addcar}" th:object="${carDTO}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="brand" class="col-form-label">Brand</label>
                        <input type="text" th:field="*{brand}" class="form-control" id="brand" placeholder="Brand">
                        <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="model" class="col-form-label">Model</label>
                        <input type="text" th:field="*{model}" class="form-control" id="model" placeholder="Model">
                        <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger"></span>
                    </div>
                    <!--                    <div class="form-group col-md-6">-->
                    <!--                        <label for="date">Product Date:</label>-->
                    <!--                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
                    <!--                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"-->
                    <!--                                   th:field="*{productDate}" id="date" placeholder="ProductDate"/>-->
                    <!--                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">-->
                    <!--                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="form-group col-md-6">
                        <label for="hp" class="col-form-label">Hp</label>
                        <input type="text" th:field="*{hp}" class="form-control" id="hp" placeholder="Hp">
                        <span th:if="${#fields.hasErrors('hp')}" th:errors="*{hp}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Car Type</label>
                        <select name="carType" class="form-control">
                            <option th:each="carType : ${T(com.sda.traian.startup.model.car.CarType).values()}"
                                    th:value="${carType}" th:text="${carType.name()}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Car">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>